 body {
        background: linear-gradient(to right, #6282c7, #15137d);
        
      }

      .forms {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 500vw;
      }
      .head h1{
        font-size:3rem;
        font-family:Georgia,'Times New Roman', Times, serif;
        color:white;
      }
      input{
        padding-left:10px;
        text-align:center;
        height:30px;
        width:300px;
        border-radius:3px;
        border:none;
        border-radius: 2px ;
      }
      button{
        width:150px;
        height:30px;
        text-align:center;
        background-color: rgb(16,46,242);
        border:none;
        border-radius: 10px;
        color:white;
        font-size:1em;
      }
      #weatherResult{
        color:white;
      }